.ui-title {
    margin: 0.6em 3% 0.8em !important;
}

#mainContent {
	text-align:center;
}
.contentPage {
	width:100%;
	height:100%;
}
.contentPage img {
	width:100%;
	max-width:500px;
	margin:0px;
	padding:0px;
}
.contentPage iframe {
	width:100%;
	max-width:800px;
	height:75vh;
	margin:0px;
	padding:0px;
}
/*  Makes the navigation popup take up a decent screen space
ref: https://forum.jquery.com/topic/expanding-the-default-jquerymobile-popup-width-to-a-of-screen */
#navPane-popup {
    max-width: 80%;
    left: 10%;
    right: 10%
}
@media all and (min-width: 350px) {
	#navPane-popup {
		width: 300px;
	}
}
.ui-page {
	background:#000000
}