.ui-title {
    margin: 0.6em 3% 0.8em !important;
}

.contentPage {
	width:100%;
	height:100%;
}
.contentPage img {
	width:100%;
	max-width:500px;
	margin:0px;
	padding:0px;
}
.contentPage iframe {
	width:100%;
	max-width:800px;
	height:75vh;
	margin:0px;
	padding:0px;
}

#splashScreen .ui-header a {
	display: none;
}
/*  Makes the navigation popup take up a decent screen space
ref: https://forum.jquery.com/topic/expanding-the-default-jquerymobile-popup-width-to-a-of-screen */
#navPane-popup {
    width: 60%;
    left: 10%;
    right: 10%
}
.ui-page {
	background:#000000
}

.ui-dialog-contain {
	top: -50px;
} 
#splashTextDetail p {
	padding:0;
	margin:0;
}

#splashTextDetail h1 {
	padding:0;
	margin:0;
}

#splashTextDetail h2 {
	font-size:.8em;
	padding:0;
	margin:0;
}