.ui-title {
    margin: 0.6em 3% 0.8em !important;
}

.contentPage {
	width:100%;
	height:100%;
}
.contentPage img {
	width:100%;
	max-width:500px;
	margin:0px;
	padding:0px;
}
.contentPage iframe {
	width:100%;
	max-width:800px;
	height:75vh;
	margin:0px;
	padding:0px;
}

#splashScreen .ui-header a {
	display: none;
}

/* Tom Clarkson's algorithm for transparent background for overlays 
 http://tqclarkson.com/2012/04/19/transparent-jquery-mobile-dialogs/ */
.ui-dialog-background {
opacity: 0.5;
display: block !important;
-webkit-transition: opacity 0.5s ease-in;
}
 
.ui-dialog-background.pop.in {
opacity: 1;
-webkit-transition: opacity 0.5s ease-in;
}
 
.ui-dialog {
min-height: 100% !important;
background: transparent !important;
}
/* End of Tom Clarkson's algorithm */
.ui-page {
	background:#000000
}

.ui-dialog-contain {
	top: -50px;
} 
#splashTextDetail p {
	padding:0;
	margin:0;
}

#splashTextDetail h1 {
	padding:0;
	margin:0;
}

#splashTextDetail h2 {
	font-size:.8em;
	padding:0;
	margin:0;
}