.contentPage {
	width:100%;
	height:100%;
}
.contentPhoto {
	width:100%;
	max-width:800px;
	margin:0px;
	padding:0px;
}
.contentPage iframe {
	width:100%;
	max-width:800px;
	height:75vh;
	margin:0px;
	padding:0px;
}

.ui-page {
	background:#000000
}